.agree-box[data-v-d77c25aa]{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;align-items:center;gap:6px;font-size:13px;line-height:1.5;display:flex}
