/docs/
/.trae/
/.vs/
/.vscode/
/.cargo/
/.rustup/
/.workbuddy/
/.tmp-test/
/backend/config/production_config.ini
/backend/config/env_config.ini
/backend/scripts/
/backend/sql/
/backend/logs/
/scripts/
/**/*.py
/*.txt
/lefthook.yml


