/docs/
/.trae/
/.vs/
/.vscode/
/.cargo/
/.rustup/
/.workbuddy/
/.tmp-test/
/backend/.tmp-test/
/.uploads/
/backend/config/production_config.ini
/backend/config/env_config.ini
/backend/scripts/
/backend/sql/
/backend/logs/
/backend/storage/backup/
/scripts/
/**/*.py
/**/*.sql
/**/*.tpy
/*.txt
/**/*.md
/lefthook.yml
/token.txt
/mxx-crm-deploy/
/pdf-template/
/mxx-ecommerce-landing/
*.log
*.ps1
/.mimosa/
