* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

body a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/** Link color **/
a {
  color: #ff8000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #b35a00;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/** Link color end **/

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.fx-col-smlapse {
  font-size: 16px;
  font-weight: 500;
  color: #181c25;
  font-family: PingFangSC-Medium, PingFang SC;
}


.font-size-20 {
  font-size: 20px;
}


.border-right {
  border-right: 1px solid #fff;
}

.logo-png {
  width: 113px;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(45deg, #ff704f 0%, #ff9326 100%);
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 48px;
  padding: 0 28px;
}

.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background: linear-gradient(45deg, #ff704f 0%, #ff9326 100%);
  border-color: #ff8000;
}

.btn-primary-outline {
  display: inline-block;
  margin-left: 10px;
  line-height: 48px;
  color: #ff8000 !important;
  background: #fff !important;
  border: 1px solid #ff8000;
  /* width: auto !important; */
  padding: 0 28px;
  font-size: 18px;
  border-radius: 24px;
}

.btn-primary-outline:hover {
  background: linear-gradient(45deg, #ff704f 0%, #ff9326 100%) !important;
  color: #ffffff !important;
  border: 1px solid #ff8000;
}
/* hover字体颜色改变 */
li a:hover {
  color: #ff8000 !important;
}

.hover-text:hover {
  color: #ff8000 !important;
}

.hover-text:hover span {
  color: #ff8000 !important;
}

.download-img-wrapper:hover {
  color: #ff8000 !important;
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  /*保证文本内容不会自动换行，如果多余的内容会在水平方向撑破单元格*/
  overflow: hidden;
  /*隐藏超出单元格的部分*/
  text-overflow: ellipsis;
  /*将被隐藏的那部分用省略号代替*/
}

.btn-group {
  display: flex;
}

.btn-group .i-btn + .i-btn {
  margin-left: 12px;
}

.i-btn {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.i-btn-free {
  background: linear-gradient(45deg, #ff704f 0%, #ff9326 100%);
  color: #fff !important;
}

.i-btn-primary {
  background: linear-gradient(45deg, #ff704f 0%, #ff9326 100%);
  color: #fff !important;
}

.i-btn-default {
  border: 1px solid #cccccc;
  color: #272b34 !important;
}

.i-btn-outline-primary {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ff8000;
  color: #ff8000 !important;
}

.i-btn-outline-primary:hover {
  background: #ff8000;
  color: #ffffff !important;
}


/* 基础知识 */
.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 0 40px;
}

.informations-body {
  width: 1200px;
}

.informations-list .informations-item {
  border-bottom: 1px solid #DEE1E8;
  cursor: pointer;
}

.informations-item-bg {
  background-color: #F2F4FB;
}

.informations-item .informations-title {
  padding: 24px 34px 24px 24px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informations-title .informations-title-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations-title-left .title-circle {
  width: 8px;
  height: 8px;
  background: #FF8000;
  border-radius: 4px;
  margin-right: 8px;
}

.informations-title-left .title-text {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #181C25;
}

.informations-title-right img {
  height: 7px;
  width: 14px;
}

.informations-list .informations-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #181C25;
  padding: 0 40px 24px 40px;
}

@media screen and (max-width: 480px) {
  .i-btn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 24px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}

.primary {
  color: #ff8000;
  font-weight: 600;
}

.new {
  -webkit-animation: bigTosmall 0.5s ease infinite;
  animation: bigTosmall 0.5s ease infinite;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDE1IDE1Ij48cGF0aCBmaWxsPSIjRjhCQzMyIiBkPSJNNy4xNTIuOTVjLjI2Mi0uNjE2Ljc4Ni0uNjE2IDEuMDQ4IDBsMS4zMSAyLjczYy4yNjIuNjE2IDEuMTM2IDEuMjMyIDEuNzQ4IDEuMzJsMi43OTUuNDRjLjY5OS4wODkuODczLjYxNy4zNSAxLjA1N2wtMi4wMSAyLjExM2MtLjUyNC41MjgtLjc4NiAxLjQ5Ny0uNjk5IDIuMTEzbC41MjQgMi45OTRjLjA4OC43MDQtLjI2Mi45NjgtLjg3My42MTZsLTIuNDQ2LTEuNDA5Yy0uNjEyLS4zNTItMS41NzItLjM1Mi0yLjE4NCAwTDQuMjcgMTQuMzMzYy0uNjExLjM1Mi0xLjA0OC4wODgtLjg3My0uNjE2bC41MjQtMi45OTRjLjA4Ny0uNzA0LS4xNzUtMS42NzMtLjctMi4xMTNMLjk1IDYuNTg1Qy41MTMgNi4wNTcuNjg4IDUuNTMgMS4zIDUuNDQxTDQuMDkzIDVjLjctLjA4OSAxLjQ4NS0uNzA1IDEuNzQ4LTEuMzIxTDcuMTUyLjk1WiIvPjwvc3ZnPg==)
    no-repeat 0;
  display: inline-block;
  height: 16px;
  margin-left: 2px;
  margin-right: 5px;
  width: 16px;
}
.tool-icon {
  padding: 10px 20px 5px 20px;
}



.box-form .form-phone {
  position: relative;
}

.box-form .box-form-common {
  border: solid 1px #dcdcdc;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  color: #888888;
  font-weight: 400;
  margin-right: 10px;
  width: 100%;
}

.box-form .form-code {
  position: relative;
  margin-top: 20px;
}

.box-form .box-form-code {
  float: left;
  width: 107px;
  background: #fdb11f;
  padding: 6px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 150px;
  top: 4px;
  border: none;
}

.box-form .box-sub {
  width: 200px;
  height: 44px;
  background: #fdb11f;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 22px;
  box-shadow: 0 5px 30px -5px rgba(253, 177, 31, 0.8);
  margin-top: 30px;
}

.box-form .reg-form-disabled-code {
  background: #c0c2c5;
  font-size: 13px;
}

.box-form .mes-info {
  left: 0px;
  top: auto;
  max-width: 100%;
  font-weight: 300;
  position: absolute;
  color: #f9504f;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}



.bg-gray {
  background: #F9FAFC;
}

.link {
  color: #b4b4b4;
}

.text-color-black {
  color: #181c25;
}

.mb-24px {
  margin-bottom: 24px;
}

.mt-24px {
  margin-top: 24px;
}

.mr-24px {
  margin-right: 24px;
}

.ml-24px {
  margin-left: 24px;
}

.mt-16px {
  margin-top: 16px;
}

.mr-16px {
  margin-right: 16px;
}

.mr-10px {
  margin-right: 10px;
}

.ml-16px {
  margin-left: 16px;
}

.mb-16px {
  margin-bottom: 16px;
}

.text-color-yellow {
  color: #ff8000 !important;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

/** 按钮 **/

.fx-btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fx-btn {
    transition: none;
  }
}

.fx-btn:hover {
  color: #fff;
  text-decoration: none;
}

.fx-btn:focus,
.fx-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.25);
}

.fx-btn.disabled,
.fx-btn:disabled {
  opacity: 0.65;
}

.fx-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.fx-btn.disabled,
fieldset:disabled a.fx-btn {
  pointer-events: none;
}

.fx-btn-primary {
  color: #fff;
  background-color: #ff8000;
  border-color: #ff8000;
}

.fx-btn-primary:hover {
  color: #fff;
  background-color: #d96d00;
  border-color: #cc6600;
}

.fx-btn-primary:focus,
.fx-btn-primary.focus {
  color: #fff;
  background-color: #d96d00;
  border-color: #cc6600;
  box-shadow: 0 0 0 0.2rem rgba(222, 114, 6, 0.5);
}

.fx-btn-primary.disabled,
.fx-btn-primary:disabled {
  color: #fff;
  background-color: #ff8000;
  border-color: #ff8000;
}

.fx-btn-primary:not(:disabled):not(.disabled):active,
.fx-btn-primary:not(:disabled):not(.disabled).active,
.show > .fx-btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #cc6600;
  border-color: #bf6000;
}

.fx-btn-primary:not(:disabled):not(.disabled):active:focus,
.fx-btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .fx-btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 114, 6, 0.5);
}

.fx-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.fx-btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.fx-btn-secondary:focus,
.fx-btn-secondary.focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.fx-btn-secondary.disabled,
.fx-btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.fx-btn-secondary:not(:disabled):not(.disabled):active,
.fx-btn-secondary:not(:disabled):not(.disabled).active,
.show > .fx-btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.fx-btn-secondary:not(:disabled):not(.disabled):active:focus,
.fx-btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .fx-btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.fx-btn-outline-primary {
  color: #ff8000;
  border-color: #ff8000;
}

.fx-btn-outline-primary:hover {
  color: #fff;
  background-color: #ff8000;
  border-color: #ff8000;
}

.fx-btn-outline-primary:focus,
.fx-btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.5);
}

.fx-btn-outline-primary.disabled,
.fx-btn-outline-primary:disabled {
  color: #ff8000;
  background-color: transparent;
}

.fx-btn-outline-primary:not(:disabled):not(.disabled):active,
.fx-btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .fx-btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ff8000;
  border-color: #ff8000;
}

.fx-btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.fx-btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .fx-btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.5);
}

.fx-btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.fx-btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.fx-btn-outline-secondary:focus,
.fx-btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.fx-btn-outline-secondary.disabled,
.fx-btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.fx-btn-outline-secondary:not(:disabled):not(.disabled):active,
.fx-btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .fx-btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.fx-btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.fx-btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .fx-btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.fx-btn-link {
  font-weight: 400;
  color: #ff8000;
  text-decoration: none;
}

.fx-btn-link:hover {
  color: #b35a00;
  text-decoration: underline;
}

.fx-btn-link:focus,
.fx-btn-link.focus {
  text-decoration: underline;
}

.fx-btn-link:disabled,
.fx-btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.fx-btn-lg {
  padding: 0.5rem 2.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 4rem;
}

.fx-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2rem;
}

.fx-btn-block {
  display: block;
  width: 100%;
}

.fx-btn-block + .fx-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fx-btn-block,
input[type="reset"].fx-btn-block,
input[type="button"].fx-btn-block {
  width: 100%;
}

/** 小屏幕 **/
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .h2 {
    font-size: 22px;
    font-weight: 600;
  }

  .h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .fx-container {
    width: 90%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
  }

  .pa-24px {
    padding: 24px;
  }

  .pl-16px {
    padding-left: 16px;
  }

  .pr-16px {
    padding-left: 16px !important;
  }

  .mob-mb-12px {
    margin-bottom: 12px !important;
  }

  .mob-mt-12px {
    margin-top: 12px !important;
  }

  .mob-pl-16px {
    padding-left: 16px;
  }

  .mob-pr-16px {
    padding-right: 16px !important;
  }

  .mob-px-12px {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .mob-py-12px {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .mob-mx-12px {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }

  .mob-my-12px {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }

  /** 适应框架 **/
  .fx-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
  }

  .fx-col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .fx-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .fx-col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .fx-col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .fx-col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .fx-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .fx-col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .fx-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .fx-col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .fx-col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .fx-col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .fx-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .fx-col-sm-1,
  .fx-col-sm-2,
  .fx-col-sm-3,
  .fx-col-sm-4,
  .fx-col-sm-5,
  .fx-col-sm-6,
  .fx-col-sm-7,
  .fx-col-sm-8,
  .fx-col-sm-9,
  .fx-col-sm-10,
  .fx-col-sm-11,
  .fx-col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
  }

  .fx-btn-lg {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 2rem;
  }
    /* 多行隐藏 */
  .mobile-km-t-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
  .mobile-km-t-ellipsis2 {
    -webkit-line-clamp: 2;
  }
  .mobile-km-t-ellipsis3 {
    -webkit-line-clamp: 3;
  }
  .mobile-km-t-ellipsis4 {
    -webkit-line-clamp: 4;
  }
  .mobile-km-t-ellipsis5 {
    -webkit-line-clamp: 5;
  }
  .fs-im-wrapper{
    box-shadow: none;
  }
}


/** 大屏幕 **/
@media (min-width: 481px) {
  .fx-container {
    width: 1200px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
  }
  /** 适应框架 **/
  .fx-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
  }

  .fx-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .fx-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .fx-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .fx-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .fx-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .fx-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .fx-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .fx-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .fx-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .fx-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .fx-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .fx-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .fx-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .fx-col-1,
  .fx-col-2,
  .fx-col-3,
  .fx-col-4,
  .fx-col-5,
  .fx-col-6,
  .fx-col-7,
  .fx-col-8,
  .fx-col-9,
  .fx-col-10,
  .fx-col-11,
  .fx-col-12 {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .fx-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

}

.searchform {
  height: 45px;
  border: 1px solid #999;
  margin-bottom: 24px;
  border-radius: 4px;
}

.screen-reader-text {
  display: none;
}

.searchform input#s {
  height: 43px;
  border-radius: 4px 0 0 4px;
}

.searchform input#searchsubmit {
  padding: 0 16px;
  height: 43px;
  background: #ccc;
  border-radius: 0 4px 4px 0;
  float: right;
}

/* 多行隐藏 */
.km-t-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 1;
  word-break: break-all;
}
.km-t-ellipsis2 {
  -webkit-line-clamp: 2;
}
.km-t-ellipsis3 {
  -webkit-line-clamp: 3;
}
.km-t-ellipsis4 {
  -webkit-line-clamp: 4;
}
.km-t-ellipsis5 {
  -webkit-line-clamp: 5;
}
